.loader-container{
  position: fixed;
  width: 100%;
  z-index: 99;
}
.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media(max-width: 959px) {
  mat-toobar{
    border-radius: 0px;
  }

}
.title-spacer {
  flex: 1 1 auto;
}
